

/* Sidebar Styles */
.sidebar {
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #aaa;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
  font-size: 16px;
  color: #ccc;
}

.sidebar ul li.active,
.sidebar ul li:hover {
  color: white;
}

